@font-face {
    font-family: 'SF UI Text';
    src: url("../fonts/SFUIDisplay-Semibold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url("../fonts/SFUIDisplay-Regular.ttf");
    font-weight: 100;
    font-style: normal;
}