html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.container {
    color: rgb(215, 215, 215);
}

.row {
    text-align: center;
}

.header {
    padding-top: 50px;
}

.game-name {
    font-size: 30px;
    /* padding-top: 50px; */
}

.game-description {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    text-indent: 10px;
}

.video {
    margin-top: 30px;
    margin-bottom: 30px;
}

.screenshot {
    width: 100%;
    max-width: 300px;
}

.appstore-icon {
    width: 115px;
    height: 33px;
    margin: auto;
    background-image: url(../img/download-app-store-icon.png);
    background-size: cover;
    transition: 100ms;
}

.appstore-icon:hover {
    background-image: url(../img/download-app-store-icon-selected.png);
}