.game-container {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  /* max-width: 500px; не нужно, за это отвечают колонки bootstrap
    если нужно, лучше задать max-width для img
    */
  /* transition: 200ms linear; */
  text-align: center;
}

.game-container:hover .game-header {
  color: orange;
  /* transition: 200ms linear; не нужно, описано в .game-header */
}

.game-header {
  color: rgb(192, 192, 192);
  /* width: 200px; не нужно, лучше выровнять 
    текст на уровне контейнера, не задавать фиксированную ширину */
  /* margin: auto; */
  /* text-align: center; в .game-container */
  font-size: 30px;
  transition: color 200ms linear;
}

.game-picture {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 70px;
  transition: border-color 200ms linear;
}

.game-container:hover .game-picture {
  border-color: orange;
}