/* https://medium.com/@elad/normalize-css-or-css-reset-9d75175c5d1e */
/* prettier-ignore */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


html {
  margin-left: calc(100vw - 100%);
}

body {
  height: 100%;
  background-color: black;
}

::selection {
  color: black;
  background: orange;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background: #272c35;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: orange;
}

/* .logo-text {
  font-family: 'Cyrvetica Extra Outline', arial;
  text-align: center;
  font-size: 3rem;
  color: rgb(192, 192, 192);
}

.logo-img {
  display: flex;
  margin: auto;
} */

.pad-15 {
  padding-top: 15px;
}

.preload * {
  transition: none !important;
}

.semi-bold {
  font-family: "SF UI Text";
}

a:hover {
  text-decoration: none;
}

/* MENU */

.menu-link-wrapper {
  text-align: center;
  padding-top: 22px;
}

.main-link {
  color: rgb(146, 146, 146);
  transition: color 200ms linear;
}

.selected-main-link {
  color: orange;
}

.main-link:hover {
  color: orange;
}

.hr-footer {
  background-color: rgb(146, 146, 146);
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.pad-b-20 {
  padding-bottom: 20px;
}

/* .footer {
  height: 500px;
} */

.footer-icons {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-bottom: 15px;
  background-size: cover;
  transition: 0.5s;
}

#linkedin-icon {
  background-image: url(../img/linkedin-icon.png);
}

#linkedin-icon:hover {
  background-image: url(../img/linkedin-icon-selected.png);
}

#instagram-icon {
  background-image: url(../img/instagram-icon.png);
}

#instagram-icon:hover {
  background-image: url(../img/instagram-icon-selected.png);
}

#app-store-icon {
  background-image: url(../img/app-store-icon.png);
}

#app-store-icon:hover {
  background-image: url(../img/app-store-icon-selected.png);
}

#google-play-icon {
  background-image: url(../img/google-play-icon.png);
}

#google-play-icon:hover {
  background-image: url(../img/google-play-icon-selected.png);
}