.policy-header {
  color: rgb(228, 228, 228);
  padding-top: 60px;
  /* как на главной */
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;

  /* font-weight: 600; 
  вместо этого поставила класс .semi-bold с main.css
  или используй bootstrap класс font-weight-bold, 
  если только для жирности
  
  !!! font-weight: 600 это вылезет боком в Safari
    в Хроме будет еле заметно, а в Safari ненормально жирно
    чем замороченней шрифт, тем непредсказуемей результаты

    лучше добавлять в проект соответсвующие под шрифт начертания
    и задавать через font-family (как твой шрифт semi-bold)
  */
}

.policy-subheader {
  /* display: inline-block; для h4 уже не нужно */
  /* font-size: 14px; не нужно, уже описано в .policy-content */
  padding-top: 20px;
  /* вместо margin */
  padding-bottom: 15px;
  /* font-weight: bold; то же самое, что и в .policy-header*/
  text-align: center;
  text-indent: 0;
}

.policy-content p,
.policy-content li {
  font-family: 'SF UI Display';
  padding-bottom: 5px;
}

.policy-content {
  text-align: justify;
  padding-bottom: 50px;
  font-size: 14px;
  color: rgb(192, 192, 192);
  text-indent: 15px;
  /* вместо &nbsp;, 
  плюс это засунуло точки от ul вровень со всем текстом */
}

.policy-link {
  color: rgb(228, 228, 228);
}