html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}


.form-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.5em;
    color: rgb(210, 210, 210);
}

.text-input {
    width: 100%;
    padding: 5px;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    /* border-radius: 5px; */
    background-color: rgb(146, 146, 146);
    border: 0px;
}

.text-input::placeholder {
    color: rgb(210, 210, 210);
}

.message-input {
    resize: none;
    height: 150px;
}

.submit-button {
    display: flex;
    margin-left: auto;
    color: rgb(210, 210, 210);
    background-color: black;
    border: 2px solid rgb(210, 210, 210);
    padding: 5px;
    /* border-radius: 5px; */
    transition: 200ms;
}

.submit-button:hover {
    color: orange;
    border-color: orange;
}

#my-form-status {
    color: rgb(210, 210, 210);
}